In [2]:
import pandas as pd
import seaborn as sns
file_path = 'https://raw.githubusercontent.com/okravtsova123/ironhack_study/main/MidTermProject/rent.csv'

# Try reading the file with alternative encodings
try:
    df = pd.read_csv(file_path, encoding='utf-8', sep=';')
except UnicodeDecodeError:
    try:
        df = pd.read_csv(file_path, encoding='latin-1',  sep=';')
    except UnicodeDecodeError:
        df = pd.read_csv(file_path, encoding='ISO-8859-1',  sep=';')

In [3]:
df.head()

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,...,typeOfFlat,geo_plz,noRooms,thermalChar,floor,numberOfFloors,noRoomsRange,garden,livingSpaceRange,energyEfficiencyClass
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,...,ground_floor,44269,4.0,181.4,1.0,3.0,4,True,4,NaN
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,...,ground_floor,67459,3.0,NaN,NaN,NaN,3,False,4,NaN
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,...,apartment,1097,3.0,NaN,3.0,4.0,3,False,4,NaN
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,...,other,9599,3.0,86.0,3.0,NaN,3,False,2,NaN
4,Bremen,138.00,self_contained_central_heating,NaN,NaN,False,True,19,2.46,NaN,...,apartment,28213,3.0,188.9,1.0,NaN,3,False,4,NaN

In [4]:
 # Perform additional formatting (lowercase, strip and replace spaces with underscores)
df.columns = [name.strip().replace(" ", "_").lower() for name in df.columns]

In [5]:
df.columns

Index(['regio1', 'servicecharge', 'heatingtype', 'telekomtvoffer',
       'telekomhybriduploadspeed', 'newlyconst', 'balcony', 'picturecount',
       'pricetrend', 'telekomuploadspeed', 'totalrent', 'yearconstructed',
       'scoutid', 'noparkspaces', 'firingtypes', 'haskitchen', 'geo_bln',
       'cellar', 'yearconstructedrange', 'baserent', 'housenumber',
       'livingspace', 'geo_krs', 'condition', 'interiorqual', 'petsallowed',
       'street', 'streetplain', 'lift', 'baserentrange', 'typeofflat',
       'geo_plz', 'norooms', 'thermalchar', 'floor', 'numberoffloors',
       'noroomsrange', 'garden', 'livingspacerange', 'energyefficiencyclass'],
      dtype='object')

In [6]:
def null_check(df):
    print(f'Total null values per row: \n{df.isnull().sum(axis=1)}\n')
    print(f'Total null values per column: \n{df.isnull().sum()}\n')

In [7]:
null_check(df)

Total null values per row:
0         3
1         8
2         4
3         8
4         8
         ..
268845    7
268846    7
268847    3
268848    4
268849    9
Length: 268850, dtype: int64

Total null values per column:
regio1                           0
servicecharge                 6909
heatingtype                  44856
telekomtvoffer               32619
telekomhybriduploadspeed    223830
newlyconst                       0
balcony                          0
picturecount                     0
pricetrend                    1832
telekomuploadspeed           33358
totalrent                    40517
yearconstructed              57045
scoutid                          0
noparkspaces                175798
firingtypes                  56964
haskitchen                       0
geo_bln                          0
cellar                           0
yearconstructedrange         57045
baserent                         0
housenumber                  71018
livingspace                      0
geo_krs                          0
condition                    68489
interiorqual                112665
petsallowed                 114573
street                           0
streetplain                  71013
lift                             0
baserentrange                    0
typeofflat                   36614
geo_plz                          0
norooms                          0
thermalchar                 106506
floor                        51309
numberoffloors               97732
noroomsrange                     0
garden                           0
livingspacerange                 0
energyefficiencyclass       191063
dtype: int64

In [8]:
def dup_check(df):
    print(f'Duplicates found: {df.duplicated().any()}\n')
    print(f'Number of duplicates: {df.duplicated().sum()}\n')

In [9]:
dup_check(df)

Duplicates found: False

Number of duplicates: 0

In [10]:
df = df[(df['newlyconst']== True)]

In [11]:
df

,regio1,servicecharge,heatingtype,telekomtvoffer,telekomhybriduploadspeed,newlyconst,balcony,picturecount,pricetrend,telekomuploadspeed,...,typeofflat,geo_plz,norooms,thermalchar,floor,numberoffloors,noroomsrange,garden,livingspacerange,energyefficiencyclass
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,...,apartment,1097,3.0,NaN,3.0,4.0,3,False,4,NaN
14,Nordrhein_Westfalen,215.00,gas_heating,ONE_YEAR_FREE,10.0,True,True,12,3.76,2.4,...,ground_floor,44229,3.0,NaN,0.0,4.0,3,False,4,NaN
29,Mecklenburg_Vorpommern,104.02,district_heating,ONE_YEAR_FREE,NaN,True,True,13,3.72,40.0,...,raised_ground_floor,19055,2.0,71.53,NaN,NaN,2,False,2,NaN
48,Schleswig_Holstein,121.50,NaN,NaN,NaN,True,True,2,3.90,NaN,...,NaN,25379,3.0,65.00,2.0,2.0,3,False,4,B
69,Sachsen,190.00,floor_heating,ONE_YEAR_FREE,NaN,True,True,14,2.88,40.0,...,ground_floor,1097,3.0,51.30,0.0,NaN,3,False,3,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268806,Baden_W?rttemberg,400.00,district_heating,NaN,NaN,True,True,8,3.99,NaN,...,penthouse,68305,4.0,NaN,1.0,4.0,4,True,7,NaN
268809,Nordrhein_Westfalen,189.65,heat_pump,NaN,NaN,True,True,0,3.78,NaN,...,NaN,51491,2.0,NaN,NaN,NaN,2,False,2,NaN
268821,Rheinland_Pfalz,80.00,central_heating,ON_DEMAND,NaN,True,True,14,3.54,2.4,...,apartment,56281,2.0,NaN,1.0,2.0,2,False,3,NaN
268827,Niedersachsen,200.00,central_heating,ONE_YEAR_FREE,10.0,True,True,10,4.30,2.4,...,apartment,30900,2.5,NaN,1.0,2.0,2,False,4,NaN
268848,Nordrhein_Westfalen,175.00,heat_pump,NaN,NaN,True,True,16,4.39,NaN,...,apartment,51069,2.0,24.70,NaN,5.0,2,False,3,NO_INFORMATION

In [12]:
df = df.loc[:, ['baserent', 'regio1', 'heatingtype', 'balcony', 'noparkspaces', 'firingtypes', 'haskitchen',
       'cellar','livingspace', 'geo_krs', 'condition', 'petsallowed', 'lift',
       'geo_plz', 'norooms', 'floor', 'numberoffloors', 'garden', 'energyefficiencyclass']]

In [13]:
df

,baserent,regio1,heatingtype,balcony,noparkspaces,firingtypes,haskitchen,cellar,livingspace,geo_krs,condition,petsallowed,lift,geo_plz,norooms,floor,numberoffloors,garden,energyefficiencyclass
2,965.00,Sachsen,floor_heating,True,1.0,NaN,False,True,83.80,Dresden,first_time_use,NaN,True,1097,3.0,3.0,4.0,False,NaN
14,972.60,Nordrhein_Westfalen,gas_heating,True,1.0,gas,False,True,87.00,Dortmund,first_time_use,negotiable,True,44229,3.0,0.0,4.0,False,NaN
29,520.08,Mecklenburg_Vorpommern,district_heating,True,1.0,district_heating,False,True,47.28,Schwerin,first_time_use,NaN,True,19055,2.0,NaN,NaN,False,NaN
48,870.00,Schleswig_Holstein,NaN,True,NaN,pellet_heating,True,False,81.00,Steinburg_Kreis,NaN,NaN,False,25379,3.0,2.0,2.0,False,B
69,900.00,Sachsen,floor_heating,True,1.0,district_heating,False,True,74.80,Dresden,first_time_use,NaN,True,1097,3.0,0.0,NaN,False,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268806,2200.00,Baden_W?rttemberg,district_heating,True,1.0,district_heating,True,True,169.00,Mannheim,first_time_use,negotiable,True,68305,4.0,1.0,4.0,True,NaN
268809,371.43,Nordrhein_Westfalen,heat_pump,True,1.0,NaN,False,True,59.38,Rheinisch_Bergischer_Kreis,first_time_use,no,True,51491,2.0,NaN,NaN,False,NaN
268821,680.00,Rheinland_Pfalz,central_heating,True,1.0,gas,False,True,79.50,Rhein_Hunsr?ck_Kreis,first_time_use,no,False,56281,2.0,1.0,2.0,False,NaN
268827,990.00,Niedersachsen,central_heating,True,1.0,pellet_heating,True,False,89.00,Hannover_Kreis,first_time_use,no,True,30900,2.5,1.0,2.0,False,NaN
268848,840.00,Nordrhein_Westfalen,heat_pump,True,1.0,gas,False,True,70.00,K?ln,first_time_use,no,True,51069,2.0,NaN,5.0,False,NO_INFORMATION

In [14]:
df = df.reset_index()

In [15]:
df

,index,baserent,regio1,heatingtype,balcony,noparkspaces,firingtypes,haskitchen,cellar,livingspace,geo_krs,condition,petsallowed,lift,geo_plz,norooms,floor,numberoffloors,garden,energyefficiencyclass
0,2,965.00,Sachsen,floor_heating,True,1.0,NaN,False,True,83.80,Dresden,first_time_use,NaN,True,1097,3.0,3.0,4.0,False,NaN
1,14,972.60,Nordrhein_Westfalen,gas_heating,True,1.0,gas,False,True,87.00,Dortmund,first_time_use,negotiable,True,44229,3.0,0.0,4.0,False,NaN
2,29,520.08,Mecklenburg_Vorpommern,district_heating,True,1.0,district_heating,False,True,47.28,Schwerin,first_time_use,NaN,True,19055,2.0,NaN,NaN,False,NaN
3,48,870.00,Schleswig_Holstein,NaN,True,NaN,pellet_heating,True,False,81.00,Steinburg_Kreis,NaN,NaN,False,25379,3.0,2.0,2.0,False,B
4,69,900.00,Sachsen,floor_heating,True,1.0,district_heating,False,True,74.80,Dresden,first_time_use,NaN,True,1097,3.0,0.0,NaN,False,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21166,268806,2200.00,Baden_W?rttemberg,district_heating,True,1.0,district_heating,True,True,169.00,Mannheim,first_time_use,negotiable,True,68305,4.0,1.0,4.0,True,NaN
21167,268809,371.43,Nordrhein_Westfalen,heat_pump,True,1.0,NaN,False,True,59.38,Rheinisch_Bergischer_Kreis,first_time_use,no,True,51491,2.0,NaN,NaN,False,NaN
21168,268821,680.00,Rheinland_Pfalz,central_heating,True,1.0,gas,False,True,79.50,Rhein_Hunsr?ck_Kreis,first_time_use,no,False,56281,2.0,1.0,2.0,False,NaN
21169,268827,990.00,Niedersachsen,central_heating,True,1.0,pellet_heating,True,False,89.00,Hannover_Kreis,first_time_use,no,True,30900,2.5,1.0,2.0,False,NaN
21170,268848,840.00,Nordrhein_Westfalen,heat_pump,True,1.0,gas,False,True,70.00,K?ln,first_time_use,no,True,51069,2.0,NaN,5.0,False,NO_INFORMATION

In [16]:
null_check(df)

Total null values per row:
0        3
1        1
2        4
3        4
4        2
        ..
21166    1
21167    4
21168    1
21169    1
21170    1
Length: 21171, dtype: int64

Total null values per column:
index                        0
baserent                     0
regio1                       0
heatingtype               3045
balcony                      0
noparkspaces              6611
firingtypes               5328
haskitchen                   0
cellar                       0
livingspace                  0
geo_krs                      0
condition                 2433
petsallowed               9357
lift                         0
geo_plz                      0
norooms                      0
floor                     5238
numberoffloors            7018
garden                       0
energyefficiencyclass    11456
dtype: int64

In [17]:
df = df.dropna()

In [ ]:
#checking unqiue values in hitting
df['heatingtype'].unique()

In [ ]:
#checking unqiue values in coditions
df['condition'].nunique()

In [ ]:
#checking unqiue values in coditions
df['firingtypes'].nunique()

In [23]:
#unifying first time use and all refurbishement, modernization and renovation in 1 thing

def condition_clean(state):
        if 'first_time_use' in state:
            state='first_time_use'
        elif state=='fully_renovated' or state=='refurbished' or state=='modernized':
            state='refurbished'
        else:
            state=state
        return state
    
#unifying types of firing

def firingtypes_clean(ftype):
    if 'gas' in ftype:
        ftype='gas'
    elif 'electricity' in ftype:
        ftype='electricity'
    elif 'solar_heating' in ftype or 'wind_energy' in ftype or'hydro_energy' in ftype or 'bio_energy' in ftype or 'geothermal' in ftype or 'thermal_energy' in ftype or 'renewable_energy' in ftype or 'regenerative_energy' in ftype:
        ftype='renewable_energy_heating'
    elif "pellet_heating" in ftype or 'fossil_fuels' in ftype or 'wood_chips' in ftype:
        ftype='pellet_heating'
    elif 'district_heating' in ftype:
        ftype='district_heating'
    else:
        ftype=ftype
    return ftype

C:\Users\user\AppData\Local\Temp\ipykernel_24560\1184914760.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['condition']=df['condition'].apply(condition_clean)
C:\Users\user\AppData\Local\Temp\ipykernel_24560\1184914760.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['firingtypes']=df['firingtypes'].apply(firingtypes_clean)

In [ ]:
#applying defined function for cleaning    
df['condition']=df['condition'].apply(condition_clean)
df['firingtypes']=df['firingtypes'].apply(firingtypes_clean)

In [30]:
#checking energyefficiencyclass
print(df["energyefficiencyclass"].groupby(df["energyefficiencyclass"]).count())

#droping rows with NO_INFORMATION
df=df[df["energyefficiencyclass"]!='NO_INFORMATION'].reset_index()

energyefficiencyclass
A         771
A_PLUS    677
B         687
C         102
D          24
E           3
F           2
Name: energyefficiencyclass, dtype: int64

In [36]:
#cleaning two useless columns
columns_needed=['baserent', 'regio1', 'heatingtype', 'balcony', 'noparkspaces', 'firingtypes', 'haskitchen',
       'cellar','livingspace', 'geo_krs', 'condition', 'petsallowed', 'lift',
       'geo_plz', 'norooms', 'floor', 'numberoffloors', 'garden', 'energyefficiencyclass']
df=df.loc[: , columns_needed]

,baserent,regio1,heatingtype,balcony,noparkspaces,firingtypes,haskitchen,cellar,livingspace,geo_krs,condition,petsallowed,lift,geo_plz,norooms,floor,numberoffloors,garden,energyefficiencyclass
0,1680.00,Bayern,central_heating,True,1.0,gas,True,True,91.00,M?nchen,refurbished,no,True,81476,1.5,2.0,3.0,False,A
1,950.00,Bayern,floor_heating,True,1.0,pellet_heating,False,True,69.00,Erding_Kreis,first_time_use,negotiable,False,85435,2.0,1.0,2.0,False,B
2,1321.61,Sachsen,floor_heating,True,1.0,district_heating,False,True,104.89,Leipzig,first_time_use,negotiable,True,4179,4.0,4.0,4.0,False,B
3,899.00,Niedersachsen,district_heating,True,1.0,district_heating,True,True,79.64,Braunschweig,first_time_use,negotiable,True,38114,2.0,0.0,4.0,True,A
4,920.00,Sachsen,central_heating,True,1.0,gas,False,True,115.00,Plauen,mint_condition,negotiable,True,8527,4.0,2.0,3.0,True,A_PLUS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2261,720.00,Nordrhein_Westfalen,floor_heating,True,1.0,renewable_energy_heating,False,True,80.00,Siegen_Wittgenstein_Kreis,first_time_use,negotiable,True,57258,2.0,3.0,4.0,False,A_PLUS
2262,890.00,Baden_W?rttemberg,floor_heating,True,2.0,district_heating,False,True,87.00,Ludwigsburg_Kreis,first_time_use,no,True,71665,3.0,3.0,3.0,False,B
2263,1159.36,Sachsen,central_heating,True,2.0,district_heating,False,True,144.92,Leipzig,first_time_use,no,True,4159,4.0,1.0,5.0,False,B
2264,1450.00,Baden_W?rttemberg,heat_pump,True,1.0,renewable_energy_heating,True,True,135.00,T?bingen_Kreis,first_time_use,no,False,72127,5.5,1.0,2.0,False,A_PLUS
2265,575.00,Bayern,floor_heating,True,1.0,gas,False,True,58.00,Forchheim_Kreis,first_time_use,no,True,91301,2.0,1.0,4.0,False,A

In [19]:
categoricals = df.select_dtypes(include=object)
numericals = df.select_dtypes(include = 'number')

In [20]:
categoricals

,regio1,heatingtype,firingtypes,geo_krs,condition,petsallowed,energyefficiencyclass
23,Bayern,central_heating,gas,M?nchen,fully_renovated,no,A
26,Bayern,floor_heating,pellet_heating,Erding_Kreis,first_time_use,negotiable,B
30,Nordrhein_Westfalen,floor_heating,gas,Rheinisch_Bergischer_Kreis,first_time_use,no,NO_INFORMATION
31,Baden_W?rttemberg,floor_heating,district_heating,Heilbronn_Kreis,first_time_use,no,NO_INFORMATION
32,Nordrhein_Westfalen,floor_heating,gas,Bonn,first_time_use,negotiable,NO_INFORMATION
...,...,...,...,...,...,...,...
21099,Baden_W?rttemberg,floor_heating,district_heating,Ludwigsburg_Kreis,first_time_use,no,B
21102,Sachsen,district_heating,district_heating,Dresden,first_time_use,negotiable,NO_INFORMATION
21127,Sachsen,central_heating,district_heating,Leipzig,first_time_use,no,B
21140,Baden_W?rttemberg,heat_pump,environmental_thermal_energy,T?bingen_Kreis,first_time_use,no,A_PLUS
21152,Bayern,floor_heating,gas,Forchheim_Kreis,first_time_use,no,A

In [21]:
numericals

,index,baserent,noparkspaces,livingspace,geo_plz,norooms,floor,numberoffloors
23,281,1680.00,1.0,91.00,81476,1.5,2.0,3.0
26,329,950.00,1.0,69.00,85435,2.0,1.0,2.0
30,366,1125.00,1.0,90.00,51427,3.0,1.0,2.0
31,369,1240.00,1.0,111.70,74906,4.0,4.0,5.0
32,373,1182.12,1.0,98.51,53117,4.0,1.0,3.0
...,...,...,...,...,...,...,...,...
21099,267992,890.00,2.0,87.00,71665,3.0,3.0,3.0
21102,268049,1139.60,1.0,118.71,1067,4.0,2.0,5.0
21127,268320,1159.36,2.0,144.92,4159,4.0,1.0,5.0
21140,268464,1450.00,1.0,135.00,72127,5.5,1.0,2.0
21152,268625,575.00,1.0,58.00,91301,2.0,1.0,4.0

In [22]:
ordinals = categoricals[["coverage","education","vehicle_size"]]
nominals = categoricals.drop(columns=["coverage","education","vehicle_size"])

KeyError: "None of [Index(['coverage', 'education', 'vehicle_size'], dtype='object')] are in the [columns]"

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
enc = OrdinalEncoder(categories=[["Premium", "Extended", "Basic"]])

ordinals["coverage"] = enc.fit_transform(ordinals[["coverage"]])

In [ ]:
enc = OrdinalEncoder(categories=[["Doctor", "Master", "Bachelor", "College", "High School or Below"]])

ordinals["education"] = enc.fit_transform(ordinals[["education"]])

In [ ]:
enc = OrdinalEncoder(categories=[["Large", "Medsize", "Small"]])
ordinals["vehicle_size"] = enc.fit_transform(ordinals[["vehicle_size"]])

In [ ]:
ordinals

In [ ]:
nominals

In [ ]:
nominals = pd.get_dummies(nominals, dtype=int)

In [ ]:
nominals

In [ ]:
categorical = pd.concat([ordinals,nominals], axis=1)

In [ ]:
categorical

In [ ]:
final_df = pd.concat([numericals,ordinals,nominals], axis=1)

In [ ]:
final_df

In [ ]:
###X-y split (y is the target variable, in this case, "total claim amount")

In [ ]:
#X-y split

In [ ]:
X = final_df.drop("total_claim_amount", axis=1)

In [ ]:
y = final_df[["total_claim_amount"]]

In [ ]:
#train_test split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [ ]:
#Standardize the data (after the data split!).

In [ ]:
final_df.hist(bins=20, figsize=(15, 15))

In [ ]:
from sklearn.preprocessing import PowerTransformer

scaler = PowerTransformer()

In [ ]:
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
y_train.hist()

In [ ]:
scaler.fit(y_train)

In [ ]:
y_train_scaled = scaler.transform(y_train)

In [ ]:
y_test_scaled = scaler.transform(y_test)

In [ ]:
#Model training

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lm = LinearRegression()
model = lm.fit(X_train_scaled,y_train)

In [ ]:
model.coef_

In [ ]:
model.intercept_

In [ ]:
#create prediction for test set

In [ ]:
y_pred = model.predict(X_test_scaled)

In [ ]:
y_pred = pd.DataFrame(y_pred)

In [ ]:
y_test = y_test.reset_index(drop=True)

In [ ]:
resiudals_df = pd.concat([y_test,y_pred],axis=1)

In [ ]:
residuals_df = resiudals_df.rename(columns={"total_claim_amount":"y_test", 0:"y_pred"})

In [ ]:
residuals_df["residual"] = residuals_df["y_test"]-residuals_df["y_pred"]

In [ ]:
residuals_df.head()

In [ ]:
#Calculating metrics

In [ ]:
mean_error = residuals_df["residual"].mean()

In [ ]:
mean_error

In [ ]:
from sklearn.metrics import mean_squared_error as mse , mean_absolute_error as mae

In [ ]:
mse(y_test,y_pred)

In [ ]:
mae(y_test,y_pred)

In [ ]:
rmse = mse(y_test,y_pred, squared = False)
rmse

In [ ]:
from sklearn.metrics import r2_score